<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe App</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="#recipes">Recipes</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

        <img src="/static/images/chef.jpg" alt="Food" class="banner">



    <section id="home" class="content">
        <h1>Welcome to Our Recipe App HOME PAGE</h1>
        <p>HOME PAGE TESTING</p>
    </section>

    <script src="/static/app.js"></script>



</body>
</html>