<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe App</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <ul>
            <li><a href="/">Landing Page</a></li>
            <li><a href="/home">Login</a></li>
            <li><a href="/recipe">Recipes</a></li>
{#            <li><a href="/contact">Contact</a></li>#}
{#            <li><a href="/messages">Messages</a></li>#}
            <li><a href="/turn">Turn</a></li>

        </ul>
    </nav>

        <img src="/static/images/chef.jpg" alt="Food" class="banner">



    <section id="home" class="content">
        <h1>Welcome to Our Recipe App</h1>
        <p>Discover amazing recipes and cooking tips to bring your culinary skills to the next level!</p>
    </section>

    <!-- Placeholder Sections for Other Pages -->
    <section id="home" class="content">
        <h1>Login</h1>
        <p>Here you can register and login. After logging in, feel free to make posts in Recipes!</p>
    </section>

    <!-- Placeholder Sections for Other Pages -->
    <section id="recipes" class="content">
        <h1>Recipes</h1>
        <p>Here you'll find a collection of our favorite recipes!</p>
    </section>

    <section id="contact" class="content">
        <h1>Turn</h1>
        <p>Head over to Turn to try out our food based Turn game!</p>
    </section>

    <!-- JavaScript -->
    <script src="/static/app.js"></script>



</body>
</html>