<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe App</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/recipe">Recipes</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

        <img src="/static/images/chef.jpg" alt="Food" class="banner">



        <section id="recipe" class="content">
            <h1>Here are our recipe's</h1>
            
            <form action="/post_recipe" method="post" enctype="application/x-www-form-urlencoded">
                <label>Recipe Name:
                    <input type="text" name="recipe_name"/>
                </label>
                <br/>
                <label>Ingredients:
                    <input type="text" name="ingredients">
                </label>
                <input type="submit" value="Post">
            </form>
        </section>

    <!-- JavaScript -->
    <script src="/static/app.js"></script>



</body>
</html>