<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe App</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/recipe">Recipes</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/messages">Messages</a></li>
        </ul>
    </nav>

        <img src="/static/images/chef.jpg" alt="Food" class="banner">



        <section id="recipe" class="content">
            <h1>Here are our recipe's</h1>
            <div class="container">
                {% for recipe in recipes|reverse %}
                <div class="recipe-card" >
                    <p>Recipe Name : {{ recipe['recipe'] }}</p>
                    {#  Slice off the 'static/' prefix and display the image                  #}
                    <img src="{{ url_for('static', filename=recipe['image'][7:]) }}" alt="{{ recipe['recipe'] }}" class="recipe-image">
                    <p>Ingredients -- Comma Separated :  {{ recipe['ingredients'] }}</p>
                    <p>Posted by : {{ recipe['username'] }}</p>
                    <p>Likes : {{ recipe['likes'][0] }}</p>
                    
                    <form action="/like" method="post" style="display:inline;">
                        <input type="hidden" name="recipe_id" value="{{ recipe['_id'] }}">
                        <button type="submit" class="like-button">Like</button>
                    </form>
                    <form action="/download" method="post" style="display:inline;">
                        <input type="hidden" name="recipe_id" value="{{ recipe['_id'] }}">
                        <button type="submit" class="download-button">Download</button>
                    </form>
                </div>
                    <hr>
                {% endfor %}
        
            </div>
        
            
            <form action="/post_recipe" method="POST" enctype="multipart/form-data">
                <label>Title:
                    <input type="text" name="recipe_name"/>
                </label>
                <br/>
                <label>Ingredients:
                    <input type="text" name="ingredients">
                </label>
                <br/>
                <label> Food Image:
                    <input type="file" name="recipe_image" accept="image/*">
                </label>
                <button type="submit">Submit</button>
            </form>
        </section>
        
        <section id="userlist">
            <div class = "table">
                <h2>Authenticated Users</h2>

                <table id="userListTable">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Active for last</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>
    <!-- JavaScript -->
    <script src="/static/app.js"></script>



</body>
</html>